name: Build Windows image and push to GHCR

on:
  push:
    branches:
      - main
      - dev
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: windows-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to GHCR
        shell: pwsh
        run: |
          "${{ secrets.GHCR_TOKEN2 }}" | docker login ghcr.io -u "${{ github.actor }}" --password-stdin

      - name: Build Docker image
        run: docker build -t ghcr.io/imburakates-spec/webapplicationcore:dev .

      - name: Push Docker image
        run: docker push ghcr.io/imburakates-spec/webapplicationcore:dev