name: Docker Build & Push GHCR

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: imburakates-spec
          password: ${{ secrets.GHCR_TOKEN2 }}

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          provenance: false
          tags: |
            ghcr.io/imburakates-spec/webapplicationcore/app:latest
            ghcr.io/imburakates-spec/webapplicationcore/app:${{ github.sha }}
